@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  /* primary colors */
  --clr-primary-1-yellow:
  hsla(47, 89%, 63%, 1);
  /* secondary colors */
  --clr-secondary-2-grey:
  hsla(0, 0%, 50%, 1);
  --clr-secondary-3-black:
  hsla(0, 0%, 7%, 1);
  --clr-secondary-4-white:
  hsla(0, 0%, 100%, 1);
  /* box shadow */
--shadow-1: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
--shadow-2: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
--shadow-3: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
--shadow-4: 0 20px 25px -5px rgb(0 0 0 / 0.1),
  0 8px 10px -6px rgb(0 0 0 / 0.1);
}

body {
  background: var(--clr-primary-1-yellow);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Figtree;
}

main {
  background-color: var(--clr-secondary-4-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 20.4rem;
  border-radius: 1.25rem;
  padding: 1.5rem;
  margin: 1rem;
  box-shadow: 0.63rem 0.63rem black;
  border: solid 0.08rem black;
}

.graphic {
  margin-bottom: 1.5rem;
}


h2 {
color: var(--clr-secondary-3-black);
font-size: 0.75rem;
font-style: normal;
font-weight: 800; 
background-color: var(--clr-primary-1-yellow);
padding: 0.5rem 0.75rem;
border-radius: 0.63rem;
margin-right: auto;
margin-bottom: 0.75rem;
}

p {
  margin-right: auto;
}

h1 {
  font-size: 1.25rem;
  margin-right:auto;
  font-weight: 800;
  margin-bottom: 0.75rem;
}

.lang-description {
  color: var(--clr-secondary-2-grey);
  line-height: 1.31rem;
  margin-bottom: 1rem;
}

.flex-avatar {
  display: flex;
  gap: 1rem;
  margin-right: auto;
  font-weight: 800;
  font-size: 0.875rem;
}

.flex-avatar p {
  align-self: center;
}

a {
  margin-right: auto;
  text-decoration: none;
}

a {
  color: var(--clr-secondary-3-black);
}

a:hover {
  color: var(--clr-primary-1-yellow);
}
